[Unit]
Description=CaaSP Health Check
After=etcd.service
After=flanneld.service
After=cloud-final.service
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/caasp-health-check

[Install]
WantedBy=default.target
