[Unit]
Description=CaaSP Health Checker
After=etcd.service
After=flanneld.service
After=cloud-final.service
After=rebootmgr.service
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/health-checker

[Install]
WantedBy=default.target
