[Unit]
Description=MicroOS Health Checker
After=cloud-final.service
After=crio.service
After=etcd.service
After=kubelet.service
After=rebootmgr.service
After=systemd-logind.service
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/health-checker

[Install]
WantedBy=default.target
